<!DOCTYPE html>
<html lang="en">
<head>
<title>Govi Sewana</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	* {
    	box-sizing: border-box;
	}

	body {
    	font-family: Arial, Helvetica, sans-serif;
    	margin: 0; 
	}

	/*Style the footer*/

	.footer{
		overflow: hidden;
		background-color: black;
		height: 100px;
		text-align: center;
		position: relative;
		z-index: 1;
		padding: 25px 0 20px 0;
	}

	.footer a{
		float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
	}

</style>
</head>
<body>
	
  <!--Footer-->
  <div class="footer">
  	<a href="home.html">Home</a>
 	<a href="Harvest.html">Harvest Prediction</a>
    <a href="demand.html">Demand Prediction</a>
    <a href="runDistribution">Rice Distribution</a>
    <a href="about.html">About Us</a>
  	<a href="contact.html">Contact</a>
	</div>
	
</body>
</html>